@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

h1,
p {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: underline dotted;
  text-decoration-color: currentColor;
  text-underline-offset: 2px;
}

section {
  padding: 1rem;
}
