@import 'tailwindcss';

html,
body {
  height: 100%;
}

body {
  background: #252525;
  color: #fff;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: underline dotted;
  text-decoration-color: currentColor;
  text-underline-offset: 2px;
}

section {
  padding: 1rem;
}
